@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/fonts";

.gratuitywrapper{
    background-color: white;
    width: 100%;
}

.tipAmount{
    display: flex;
    justify-content: space-evenly;
    &__default{
        border: 2px solid $buttonsplash;
        border-radius: 4px;
        padding: 0 5px;
        height: 50px;
        
        &--top{
            position: relative;
            bottom: 40px;
        }
        &--buttom{
            position: absolute;
            top: 1572px;
        }
    }
}
.popup_update{
    text-align: center;
    padding-bottom: 70px;
}
.button{
    
    background-color: $buttonColor;
    color: $buttontext;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    width: 361px;
    
}
.buttonBox{
    padding-top: 70px;
    text-align: center;
}

.gratuityform{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    box-sizing: border-box;
    padding: 0rem 1rem;


    &__top{
        width: 70%;
        display: flex;
        justify-content: space-between;

        .gratuitypercentbutton{
            background-color: transparent;
            border: none;

            &:focus{
                border: 2px solid black;
                border-radius: 3px;
            }
        }
    }

    &__bottom{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}