@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
h3, h4{
    //reset
    margin: 0rem;
}

p{
    //reset
    margin: 0rem;
}

.tablesummarywrapper{
    box-sizing: border-box;
    margin-top: 0.5rem;
    padding: 1rem 1rem;
    box-sizing: border-box;
    background-color:white;
    width: 100%;
}
.hero{
    color: $textColorLight;
    &__price{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }    
}

.totalwrapper{
    width: 100%;
    margin-top: 1rem;
    .totalbox{
        display: flex;
        justify-content: space-between;

        &__price{
            padding: 0rem;
        }
    }
}

.gratuityvisibilitybutton{
    background-color: transparent;
    border: none;
    color: blue;
    cursor:pointer;
}