@use "./fonts" as *;

// Colors
$buttonsplash: #000000;
$buttontext: white;
$boxBG: #ffffff35;
$link: blue;
$textColorLight: rgba(46, 23, 23, 0.447);

// breakpoints and margins
$mobile-margin: 16px;
$mobile-column: auto;

$mobile-width: 320px;

$tablet-width: 767px;
$tablet-margin: 32px;
$tablet-gutter: 24px;
$tablet-column: auto;

$desktop-width: 1280px;
$desktop-margin: 124px;
$desktop-gutter: 24px;
$desktop-column: 63px;

// fonts
$font-regular: "TitilliumWeb";
$font-regular-italics: "TitilliumWeb";

$font-bold: "TitilliumWeb-SemiBold";
$font-bold-italics: "TitilliumWeb-SemiBoldItalics";
