@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.App {
  &--header {
    background-image: url(../../assets/images/tamas-pap-zali_zGDWo8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 15% 15%;
    margin: 0px;
    padding: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 24px;
    box-sizing: border-box;
    align-items: center;

    &__text {
      width: 70%;
      text-align: center;
      color: $buttontext;
      width: 100%;
      margin-bottom: 0px;
    }
    &__Subtext {
      width: 266px;
      padding: 0 10px;
      position: relative;
      border-radius: 8px;
      margin: auto;
      margin-top: 0px;
      background-color: $boxBG;
    }
  }
}
