@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;


.App{
    &--header{
        background-image: url(../../assets/images/tamas-pap-zali_zGDWo8-unsplash.jpg);
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius:0 0 25% 25%;
        // transform: translate(-10%, -10%);

        &__text{
            position: relative;
            width: 70%;
            top: 10px;
            left: 50px;
            text-align: center;
            color: $buttontext;
            
        }
        &__Subtext{
            position: relative;
            border-radius: 8px;
            bottom: 20px;
            background-color: 	#c9caca;
            
        }
    }
}