@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;


.hero{
    margin: 16px;
    color: grey;
}
.total{
    margin: 16px;
}