.scan-button-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/loadingpagebackgroundimage.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__button {
    width: 150px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #000;
    outline-width: 0px;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border-color: #fff;
  }
}
