@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/fonts";

.popup-overlay{
    display: flex!important;
    align-items: flex-end;
}

.popup-content{
    margin: 0rem!important;
}

.wrapperpopup{
    background-color: green;
    width: 100vw;
    height: 70vh;
}