@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/fonts";


.tipAmount {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  &__default {
    width: 150px;
    border: 2px solid $buttonsplash;
    border-radius: 4px;
    padding: 0 5px;
    height: 50px;

    &--top {
      text-align: center;
    }
  }
}

.tipwrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.popup_update {
  text-align: center;
  padding-bottom: 70px;

}

.pop-up {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 20;
  background-color: red;
  .pop-up-container {
    display: flex;
  }
}
.display-none {
  display: none;
}
