@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/fonts";

.tipAmount{
    display: flex;
    justify-content: space-evenly;
}
.popup_update{
    text-align: center;
    padding-bottom: 70px;
}
.button{
    
    background-color: $buttonColor;
    color: $buttontext;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    width: 361px;
    
}
.buttonBox{
    padding-top: 70px;
    text-align: center;
}