@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/fonts";

.homepagewrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(235, 235, 235);


    &__inner{
        width: 100%;
        box-sizing: border-box;
        padding: 0px 1rem;
        background-color: white;
        border-radius: 26px;
        padding-bottom: 1rem;
    }
}

.buttonBoxwrapper {
    padding: 0rem;
    width: 361px;
    height: 46px;
    aspect-ratio: 1/0.105263;
    border: none;
    border-radius: 15px;
    background-color: rgb(72, 50,202);
    color: white;
    text-transform: capitalize;
    font-size: 18px;

    // effects and animations
    
    &:hover{
        background-color: rgb(75, 75, 75);
    }

    &:active{
        background-color: rgb(39, 39, 39);
    }
  }
